*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.ri-menu-line{
    color: purple;
    justify-content: left;
    cursor: pointer;
    padding: 0px 7px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}
.header_left ri-youtube-fill{
    width: 200px;
    margin-left: 15px;
}
.ri-youtube-fill{
    color: red;
    
}
.header-search form{
    border: 1px solid grey;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.menu{
    height:2000px;
    display: flex;
  

}
.sidebar{
    height: 100%;
    width: 230px;
    overflow: scroll;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar_category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
    
}
.sidebar_category:hover{
    background: lightgrey;
    cursor: pointer;
}
.ri-mic-fill{
    justify-content: left;
    width: 50%;
}






















img{
    width: 100%;
    height: 100%;
}
.heading-container{
    width:85%;
    margin: 0 auto;
    padding: 15px 0;
}
.cards-container{
    /* border: 2px solid red; */
}
.cards-holder{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.cards{
    height: 300px;
    width: 290px;
    padding: 19px 15px;
    border-radius: 12px;
    box-shadow: -6px 13px 22px -4px rgba(0,0,0,0.75);
}
.cards h3{
    margin: 10px 0;
}
.card-header{
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
}
.card-header img{
    object-fit: cover;
}
.card-extras{
    margin: 10px 0 0 0;
    text-align: right;
}
.card-extras span{
    background: var(--main-color);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;


}

