*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 223, 228);
}
.ri-menu-line{
    color: purple;
    justify-content: left;
    cursor: pointer;
    padding: 0px 7px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}
.header_left ri-youtube-fill{
    width: 200px;
    margin-left: 15px;
}
.ri-youtube-fill{
    color: red;
    
}
.header-search form{
    border: 1px solid grey;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.menu{
    /* height:2000px; */
    display: flex;
  

}
.sidebar{
    height: 100%;
    width: 230px;
    overflow: scroll;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar_category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
    
}
.sidebar_category:hover{
    background: lightgrey;
    cursor: pointer;
}
.ri-mic-fill{
    justify-content: left;
    width: 50%;
}


















/* 
img{
    width: 100%;
    height: 100%;
}
.heading-container{
    width:85%;
    margin: 0 auto;
    padding: 15px 0;
}
.cards-container{
    /* border: 2px solid red; 
}
.cards-holder{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.cards h3{
    margin: 10px 0;
}


.card-extras{
    margin: 10px 0 0 0;
    text-align: right;
}
.card-extras span{
    background: var(--main-color);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;


}
.words{
    justify-content: flex;
    align-items: center;
} */ 






.ui{
    /* border: 2px solid yellow; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.box-holder{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}
.card-header{
    background: purple;
    height: 180px;
    width: 320px;
    border-radius: 20px;
}
.cards{
    display: flex;
    flex-direction: column;
}
.timestamp{
    background: blue;
    width: 25%;
}
.video-description{
    display: flex;
    flex-direction: row;
}
.video-user-icon{
    border: 3.5px solid red;
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 35px;
    align-items: center;
    color: brown;
    align-items: center;
    justify-content: center;
}




.body{
    display: flex;
    flex-direction: row;
    gap: 20px;
}