*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:rgb(255, 223, 228) ;
}
.ri-menu-line{
    color: purple;
    justify-content: left;
    cursor: pointer;
    padding: 0px 7px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header_left{
    display: flex;
    align-items: center;
}
.header_left ri-youtube-fill{
    width: 200px;
    margin-left: 15px;
}
.ri-youtube-fill{
    color: red;
    
}
.header-search form{
    border: 1px solid grey;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-search input{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.ri-mic-fill{
    justify-content: left;
    width: 50%;
}







 .big-vid img{ 
    width: 900px;
    height: 500px;
    margin-top: 80px;
    margin-left: 25px;
    border-radius: 20px;
    overflow: hidden;
}




.video-display {
    height: 120px;
    width: 200px;
    /* position: fixed; */
    right: 0;
    border: 5px solid black;
    background: white;
}



.sidebar{
    margin-top: 130px;
    margin-left: 50px;
    /* display: flex; */
}
.creator{
    color: grey;
    margin-right: 20px;
}
.captions{
    color: white;
}
.ui{
    display: flex;
    justify-content: center;
}
.images{
    margin-right: 400px;
    width: 50%;
    height: 100px;
    background: url(./images/yo.jpeg);
    background-size: cover;
}